/*	Table OF Contents
==========================
1-General Styles
2-Navigation 
3-Header/Home Section
4-Work
5-About US
6-Our Projects
7-Process 
8-Portfolio
9-Testimonals
10-Contact US
11-Newsletter
12-Blog
13-Footer
15-Responsive

=================================
1- General Styles
=================================*/
html, body {
	font-family: "mono45-headline",sans-serif;
}
img{
	max-width: 100%;
}

ul {
	list-style: none;
	margin:0 0 0 0;
}

li{
	font-family: "europa", sans-serif;
}
.default{
	background: #000000;
}

.flexslider {
	box-shadow: none;
	border:0px;
	padding:0px;
	
}

.flex-control-paging li a {
	padding: 0px !important;
}
.flex-control-paging li a.flex-active {
	background-color: #e1472f;
}

.style2{
	background: url('../img/background/header_black.png') repeat;
	background-size:cover;
}

p {
	font-family: Arial;
	color: #161e20;
	font-size: 14px;
}


.pull-left[class^="icon-"], .pull-left[class*=" icon-"] {
	margin-right: 0.8em;
}

.img-circle {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
body.pull_top {
	padding-top: 0px !important;
}
.carousel-control {
  font-size: 40px;
  font-weight: 600;
  opacity: 0.8;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img{
	width:100%;
	height:auto;
}
.carousel-control{
	border-radius:0px;
	border:none;
	outline:none;
}
.carousel-control:hover{
	background:#e1472f !important;
}
.carousel-control.right{
	right:0;
}
.carousel-control.left{
	left:0;
}
.wrapper {
	padding:1.5em;
}
/*===============================
2- Navigation
=================================*/


.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner{
	box-shadow:none;
}
.navbar.transparent.navbar-inverse .navbar-inner .container {
	max-width: 980px;
}

.navbar.navbar-static-top {
	margin-bottom: 15px;
}
.navbar.transparent.navbar-inverse .navbar-inner {
	background: rgba(0,0,0,0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	filter:none;
	border-bottom: none;
}
.navbar.transparent.navbar-inverse .navbar-inner .container {
	margin-top: 10px;
	margin-bottom: 0px;
	-webkit-transition: margin .2s ease-in-out;
	-moz-transition: margin .2s ease-in-out;
	transition: margin .2s ease-in-out;
}
.navbar.navbar-inverse .navbar-inner {
	padding: 13px 66px;
	background:none;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.navbar.navbar-inverse .navbar-inner.sticky {
	height:60px;
	-webkit-box-shadow:0 1px 10px rgba(0,0,0,0.1);
	-moz-box-shadow:0 1px 10px rgba(0,0,0,0.1);
	box-shadow:0 1px 10px rgba(0,0,0,0.1);
}
.navbar-inverse .navbar-inner.sticky .container {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.navbar-inverse .brand {
	color: #fff;
}
.navbar-inverse .nav > li > a {
	font-size: 1.5em;
	text-transform: uppercase;
	margin-left: 5px;
	font-weight: bold;
	color: #FFFFFF;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
	
}
.navbar-inverse .nav > li > a:hover, .navbar-inverse .nav > li > a.active {
	outline: 5px solid #FFF;
	opacity: 9;
	filter: alpha(opacity=100);
}

.dropdown-menu {
	border-radius: 0px;
}
.navbar-inverse .dropdown-menu {
	background: #ffffff;
	text-align: center;
	border-top: 5px solid #e1472f;
	background-image: none;
	font-weight: bold;
	font-family: arial;
	font-size: 12px;
}
.navbar-inverse .nav > li > .dropdown-menu::after,
 .navbar-inverse .nav > li > .dropdown-menu::before,
 .navbar-inverse .nav > li > .dropdown-menu::after,
  .navbar-inverse .nav > li > .dropdown-menu::after,
  .navbar .nav > li > .dropdown-menu:after,
  .navbar .nav > li > .dropdown-menu:before   {
	border: none !important;
    content: "" !important;
	display:none !important;
}


.navbar .pull-right > li > .dropdown-menu, .navbar .nav > li > .dropdown-menu.pull-right {
	right: -40px;
	
}
.nav-header {
	font-size: 12px;
	line-height: 25px;
}
.navbar-inverse .dropdown-menu li > a {
	border-top: 1px solid #F2F2F2;
	color: #6F6F6F;
	font-size: 12px;
	font-weight: bold;
	line-height: 25px;
}
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
	text-decoration: none;
	background: #f8f8f8;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
	background: none;
}
ul.nav li.dropdown:hover ul.dropdown-menu {
	display: block;
}
.mobile-menu {
	display: none;
	background: #ffffff;
	color: #000000;
	width: 50%;
	margin: 20px 5% 5px 25%;
	padding-left: 5px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
}


.dropdown-menu .menu-arrow {
  background: none;
  color: #E1472F;
  font-size: 18px;
  height: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -23px;
  width: 12px;
}
.navbar .brand {
	padding:0px;
}
/*===============================
3- Header and Home Section
=================================*/

.navbar .nav>li>a {
	padding:10px;
	margin: 10px 20px;
	font-family: "mono45-headline",sans-serif;
}
.header_sticky.header_bg1 {
	background:url("../img/background/navbg.jpg") repeat scroll 0 0 transparent;
	
}

#home {
	position: relative;
	height:100vh;
	background:url("../img/background/home.jpg") #1a1a1a 50% 0 no-repeat fixed; min-height: 1000px;
	background-size:cover;
	background-repeat:no-repeat;

}
#home .home-text{
	padding-top:13%;
}
#home .home-text .stars{
	text-align:center;
	height:25px;
	margin:0 auto;
	color:#ffffff;

}
#home .home-text .stars span{
	display:inline;
	margin-right:10px;
}
.star-small{
	font-size:18px;
}
.star-big{
	font-size:9em;
}
#home .home-text .title{
	font-size:50px;
	font-weight:bold;
	text-transform:uppercase;
	text-align:center;
	color:#ffffff;
	padding-top:30px;
	line-height:50px;
}
#home .home-text .bar{
	width:50px;
	height:10px;
	background:#ffffff;
	margin:30px auto;
}

#home .home-text .title-line{
	width:70%;
	text-align:center;
	margin:0 auto;
	font-size:5em;
	/*font-size: 5.4vw;*/
	font-weight:300;
	color:#ffffff;
	padding-top:30px;
	text-transform:uppercase;
	line-height:1.5;
	border:9px solid white;
	padding:10px;
}
#home .home-text .go-btn{
	width:100px;
	height:100px;
	outline:none;
	background-repeat:no-repeat;
	margin:0 auto;
	margin-top:30px;
	margin-bottom:40px;
	border-radius:50%;
}
.go-btn a{
	display:block;
	
}

.arrow-down{
	margin:10px;
	
}
.arrow-down a{
	color:#fff;
	text-decoration: none;
	font-size: 9em;
	
}
i {
	margin:0;
	padding:0;
}


/*===============================
4- Work
=================================*/
#work {
	background: #000;
	padding-bottom: 10em;
	background:url("../img/background/work.jpg") #1a1a1a 50% 0 no-repeat fixed; min-height: 1000px;
	background-size:cover ;
	/*background-repeat:repeat;*/
	
}
#services {
	background: none;
	position: relative;
	min-height: 400px;
	padding-top: 30px;
}
#services .section-subheader {
	padding-bottom: 40px;
}
.service-container{
	max-width:930px;
	margin:0 auto;
	padding-left:30px;
}

.service-style2{
	text-align:center;
	max-width:230px;
	float:left;
	margin-left:5%;
}

.service-style2 .wrapper-icon-big{
	margin-left:35px;
	margin-bottom:20px;
	
}
.service-style2 h4{
	color:#2c2c2c;
	
}
.service-style2 p{
	font-size:12px;
	color:#828282;
}
.media, .media-body {
	margin-bottom: 30px;
	display: block;
}
#services .media-body {
	padding-left: 15px;
}
#services .media-body p {
	color: #868686;
}
.service-wrapper{
	text-align:center;
	
}
.progress {
	border-radius: 0px;
	background-color: #e5e5e5;
	background-image: none;
	height:15px;
	box-shadow:none;
}
.progress-danger .bar, .progress .bar-danger {
	background-color: #e1472f;
	background-image: none;
	box-shadow:none;
}
/*===============================
5- About US
=================================*/
.person-item {
	display: block;
	position: relative;
	line-height: 20px;
/*	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;*/
	float: left;
	text-align: center;
	overflow: hidden;
}
.person-item img {
	/*-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	-ms-transition: all 300ms linear;
	transition: all 300ms linear;*/

}
.person-item .folio-body {
	background: none repeat scroll 0 0 rgba(255, 93, 42, 1);
    display: block;
    opacity: 0;
    position: absolute;
    width: 100%;
	left: 0;
	top: 0;
	color: rgb(220, 220, 220);
	z-index:10;
}


.person-item:hover .folio-body {
	height: 100%;
   /* transition: all 200ms ease-in-out 0s;*/
	opacity: .9;
}

.person-item .folio-body a {
	color: #fff;
}
.person-item .folio-body a:hover {
	/*text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7);*/
	text-decoration: none;
}
.person-item .folio-body .folio-info {
	top:-20px;
	padding: 7em 30px;
	height: 0;
    	opacity: 0;
    	position: relative;
}

.person-item:hover .folio-info{
    opacity: 1;
    /*transition: all 500ms ease-in-out 0s;*/
	top:0;
}

.person-item .folio-body .folio-info h5 {
	text-transform: uppercase;
	font-size: 2em;
}
.person-item .folio-body .folio-info p {
	color: #ffffff;
	font-size: 12px;
}

/*==============pop-up==================*/
.person-item .folio-body .folio-zoom {
	position: static;
	width: 176px;
	height: 28px;
	text-align: center;
	line-height: 25px;
	display: block;
	cursor: pointer;
	color: #FFFFFF;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	letter-spacing: 1px;
	padding-top: 4px;
	text-transform: capitalize;
	border-radius: 6px;
	margin:auto;
}
.person-item .folio-body .folio-zoom:hover {
}

#team .row-fluid .span2 {
width: 16.52991452991453%;
}

#about {
	background:url("../img/background/about.jpg") #FFF 50%; min-height: 1300px;
	position: relative;
	padding-bottom: 30px;
	padding-top: 0px;
	background-size: cover;
}
#team-phone1{
	width:200px;
	margin:0 auto;
	margin-bottom:50px;
}
#team-phone2{
	width:200px;
	margin:0 auto;
	margin-bottom:50px;
}
#team-phone3{
	width:200px;
	margin:0 auto;
	margin-bottom:50px;
}
.team-info h5 {
font-size: 2em;
color: white;
line-height: 1;
margin-top: 20%;
}

.team-info p {
font-size: 1em;
color: white;
line-height: 1.2;
margin-top: 10%;
}
.member {
	display: block;
	padding: 4px;
	margin-bottom: 30px;
	line-height: 20px;
	text-align: center;
}
 .member h3 {
	color: #2b2b2b;
	margin: 0px;
}
.member h5 {
	color: #828282;
	margin: 0;
}
.member p {
	font-size: 12px;
	text-align: center;
	color: #828282;
}
.social li a {
	margin-left: 10px;
}

.whyUs {
	position: relative;
	text-align: left;
	color: #161e20;
}
.whyUs p {
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
	text-align: left;
	color: #868686;
	font-size:12px;
	line-height:20px;
	margin-top:20px;
}
.shine div {
	position: relative;
}
.shine div::after {
	content: '';
	opacity: 0;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #fd8775;
	-webkit-animation: animate-shine 3s ease-out infinite;
	-moz-animation: animate-shine 3s ease-out infinite;
}
 @-moz-keyframes animate-shine {
 0% {
opacity: 0;
width: 0;
}
 50% {
opacity: .7;
}
 100% {
opacity: 0;
width: 95%;
}
}
/*===============================
6- Our Projects
=================================*/
.thumbnails{
	margin-left: 40px;
}
#our-projects {
/*	padding-top: 20px;*/
}
#our-projects .pSlider-header {
	font-size: 24px;
	font-weight: bold;
	line-height: 25px;
	padding-left: 0;
}
#our-projects p {
	margin-top: 20px;
	color: #828282;
	font-size: 12px;
	font-weight: normal;
}
.projets-features {
	margin-top: 20px;
}
#our-projects .projets-features li {
	border-bottom: 1px solid #e9e9e9;
	line-height: 36px;
}
.projets-features li {
	color: #828282;
	font-size: 13px;
	list-style-image: url("../img/icons/basic/projects-ul.png");
	font-weight:bold;
}
#our-projects span {
	color: #2c2c2c;
	font-size: 13px;
	padding-left: 10px;
	display: block;
	padding-top: 20px;
}
#our-projects a {
	padding-left: 10px;
	color: #e44322;
	font-size: 13px;
	cursor: pointer;
	text-decoration: none;
	transition-duration: 0.6s;
}
#our-projects a:hover {
	color: #555;
}


/*===============================
8- Portfolio
=================================*/
#portfolio {
	background: none;
	position: relative;
	padding-top: 0px;
	height: auto;
	margin-left: 2%;
}
.nav-pills {
	padding: 10px;
	background-color: #f1f1f1;
	border-radius: 10px;
}
.nav-pills > li > a {
	color: #000000;
	outline: none;
}
.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
	background-color: #ff412c;
}
#itemHolder {
	max-width: 1164px;
	clear: both;
	margin: 0 auto;
}
#phone-portfolio{
	margin:0 auto;
	margin-bottom:20px;
	padding-left:10px;
	min-width:320px;
}
.portfolio-item {
	display: block;
	position: relative;
	line-height: 20px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	float: left;
	text-align: center;
	overflow: hidden;
}
.portfolio-item img {
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	-ms-transition: all 300ms linear;
	transition: all 300ms linear;

}
.portfolio-item .folio-body {
	background: none repeat scroll 0 0 rgba(255, 93, 42, 1);
    display: block;
    opacity: 0;
    position: absolute;
    width: 100%;
	left: 0;
	top: 0;
	color: rgb(220, 220, 220);
	z-index:10;
}


.portfolio-item:hover .folio-body {
	height: 100%;
            transition: all 200ms ease-in-out 0s;
	opacity: 1;
}

.portfolio-item .folio-body a {
	color: #fff;
}
.portfolio-item .folio-body a:hover {
	/*text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7);*/
	text-decoration: none;
}
.portfolio-item .folio-body .folio-info {
	top:-20px;
	padding: 7em 30px;
	height: 0;
    opacity: 0;
    position: relative;
}

.portfolio-item:hover .folio-info{
    opacity: 1;
    transition: all 500ms ease-in-out 0s;
	top:0;
}

.portfolio-item .folio-body .folio-info h5 {
	text-transform: uppercase;
	font-size: 2em;
}
.portfolio-item .folio-body .folio-info p {
	color: #ffffff;
	font-size: 12px;
}

.projects article {
	color:#fff;
	padding: 90px 0 0 0;
}

.projects article a{
	border-bottom: 2px solid #fff;
}

li.portfolio-item {
	float: left;
	position: relative;
}

.portfolio-item .go {
	display: block;
	position: absolute;
	box-sizing: border-box;
	padding: 100px 20px 20px;
	width: 100%;
	height: 100%;
	border: none;
	font-size: 1em;
	background: rgba(16, 25, 34, 0.8);
	cursor: pointer;
}

.back {
	font-size: 3em;
	cursor: pointer;
}

.portfolio-info {
	font-family: "mono45-headline",sans-serif;
	width:75px;
	margin-right: 10px;
	color:#ccc;
	text-transform: uppercase;
	display: inline-block;
}
.information {
	margin-bottom: 1em;
}
.information li a {
	color:#fff;w
	border-bottom: 2px solid;
}
.information li a:hover{
	text-decoration: none;
}
/*==============pop-up==================*/
.portfolio-item .folio-body .folio-zoom {
	position: static;
	width: 176px;
	height: 28px;
	text-align: center;
	line-height: 25px;
	display: block;
	cursor: pointer;
	color: #FFFFFF;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	letter-spacing: 1px;
	padding-top: 4px;
	text-transform: capitalize;
	border-radius: 6px;
	margin:auto;
}

.custom-popup {
	max-width: 90%;
	margin: 0 auto;
	background: #ffffff;
}
.custom-popup .flexslider {
	padding: 0px;
	border: none;
	margin-top: 5px;
}
.item-title {
	padding: 15px 0px;
	background: #fff;
}
.item-title .head {
	font-size: 26px;
	font-weight: bold;
	color: #161e20;
	margin: 0 20px;
}
.item-title p {
	font-size: 22px;
	color: #161e20;
	margin-top: 20px;
	padding: 20px;
}
#popup-slides .slide {
	width: 100%;
	height: 500px;
	background-size: cover;/* CSS3 to scale the background, not required */
}
.item-slider .head {
}
.item-overview {
	margin: 0px 10px 50px 10px;
}
.item-overview .head {
	font-size: 1.5em;
	font-weight: bold;
	color: #2c2c2c;
}
.item-overview p {
	color: #3a3c3d;
	font-size: 1em;
	margin-top: 20px;
}
.item-skills{
	margin:0px 10px 20px 10px;
}
.item-skills .head {
	font-size: 1.5em;
	font-weight: bold;
	color: #2c2c2c;
}
.item-skills .projets-features {
	margin-bottom: 20px;
}
.item-skills .projets-features li {
	line-height: 25px;
}
.item-skills .see, .item-skills .see a {
	margin-left: 7px;
	color: #3a3c3d;
	text-decoration:none;
}
.item-skills .btn-black {
	font-family: Georgia, "Times New Roman", Times, serif;
	background-color: #2c2c2c;
	color: #ffffff;
	height: 22px;
	width: 20px;
	border: none;
	font-size: 12px;
	font-weight: lighter;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-top: 15px;
}
.item-skills .btn-black:hover {
	background-color: #e0452f;
}
.item-skills .popup-nav {
	margin-left: 10px;
}
.item-skills .popup-nav li {
	display: inline-block;
}
.mfp-close-btn-in .mfp-close {
	display: none;
}
/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.35s ease-out;
  -moz-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.35s ease-out;
  -moz-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}


/*===============================
10- Contact US
=================================*/
#contact {
	background: none;
	position: relative;
	min-height: 400px;
	margin-top: 0px;
	background:url("../img/background/contact.png") #1a1a1a 50% 0 repeat fixed; min-height: 800px;
}

#submit {
	text-transform: uppercase;
	font-weight: bold;
	height: 40px;
	background:#e1472f;
	border-radius:3px;
}
.important {
	color: #e14a37;
}
.padding-bottom {
	padding-bottom: 30px;
	color: #bbbbbb;
}

.twitter-contact {
	font-size: 9em;
	text-align: center;
	margin-top: 4%;
}

.twitter-contact a {
	color:#ffffff;
	padding: 4% 0%;
	text-decoration: none;
	line-height: 1;
	font-family: "mono45-headline",sans-serif;
}
.twitter-contact a:hover{
	text-align: center;

}

/*===============================
13- Footer
=================================*/
.modal-footer {
	font-family: 'europa', sans-serif;
	background-color: #1a1a1a;
	border-top: 10px solid #e1472f;
	border-radius: 0;
	text-align: center;
	color: #c3c3c3;
	padding-top: 40px;
	box-shadow: none;
	list-style: none;
}
.modal-footer .footer-head {
	margin-bottom: 30px;
	font-size: 14px;
	color: #ffffff;
	text-transform: uppercase;
	line-height: 35px;
}
.modal-footer p {
	color: #c3c3c3;
	font-size: 12px;
	line-height: 18px;
	margin-bottom: 30px;
}

.copyrights li {
	display: inline-block;
	list-style: none;
	margin-right: 30px;
	line-height: 30px;
	text-align: center;
}

.copyrights li a{
	color: #c3c3c3;
	font-family: 'europa', serif;
	font-size: 12px
}


/*===============================
14- Shortcodes
=================================*/

/*social icons*/
.social {
	margin: 20px 0;
	text-align: center;
}
.social li {
	display: inline-block !important;
	margin: 0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.social li a {
	width: 25px;
	height: 25px;
}

.social li a {
	outline: none;
	opacity: .5;
	display: block;
	text-indent: -999999px;
	filter: alpha(opacity=50);
filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=50)";
}
.social li:hover {
	background-position: 0 -25px;
}

/*Section header*/
.section-header-wrap {
	width: 100%;
}
.section-header {
	background: none;
	font-size: 3em;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 40px;
	width:150px;
	text-align: center;
	margin: 0px auto;
	padding: 5px;
	margin-top: 40px;
	margin-bottom: 20px;
	border-bottom: 5px solid #fff;
}

.section-header-white {
	font-family: Arial;
	font-size: 40px;
	color: #ffffff;
	text-align: left;
	padding: 30px;
}

.section-header-black {
	background: none;
	font-size: 3em;
	color: #1a1a1a;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 40px;
	width:180px;
	text-align: center;
	margin: 20px auto;
	padding: 5px;
	margin-top: 40px;
	margin-bottom: 20px;
	border-bottom: 5px solid #1a1a1a;
}


.section-subheader {
	background: none;
	font-family: "europa", serif;
	font-size: 20px;
	color: #FFFFFF;
	text-align: center;
	margin-bottom: 40px;
	font-weight: lighter;
	letter-spacing: 1px;
}

.section-subheader-black {
	background: none;
	font-family: "europa", serif;
	font-size: 20px;
	color: #1a1a1a;
	text-align: center;
	font-weight: lighter;
	letter-spacing: 1px;
	margin: 20px;
}
.section-header-underlined {
	background: none;
	font-family: Arial;
	font-size: 20px;
	color: #282828;
	text-align: left;
	padding-bottom: 10px;
	margin-bottom: 30px;
	border-bottom: 4px solid #e2453a;
	width: 20%;
	min-width: 140px;
	font-weight:bold;
	display:block;
}


/*buttons*/

a.link-normal{
	cursor:pointer;
	width:100px;
	height:18px;
	padding:10px;
	color:#ffffff;
	display:block;
	text-decoration:none ;
	font-size:13px;
	font-weight:bold;
	margin-right:4px;
	margin-bottom:15px;
	padding-left:20px;
}

a.link-large{
	cursor:pointer;
	width:110px;
	height:18px;
	padding:10px;
	color:#ffffff;
	display:block;
	text-decoration:none ;
	font-size:13px;
	font-weight:bold;
	margin-right:4px;
	margin-bottom:15px;
	padding-left:30px;
}

a.link-small{
	cursor:pointer;
	width:90px;
	height:20px;
	padding:10px;
	color:#ffffff;
	display:block;
	text-decoration:none ;
	font-size:13px;
	font-weight:bold;
	margin-right:4px;
	margin-bottom:15px;
}
a.link-normal span,a.link-large span, a.link-small span{
	margin-left:5px;
}

a.custom-large-btn{
	cursor:pointer;
	width:125px;
	height:18px;
	padding:10px;
	color:#ffffff;
	border-radius:4px;
	display:block;
	text-decoration:none ;
	font-size:15px;
	font-weight:bold;
	margin-right:4px;
	margin-bottom:15px;
	text-align:center;
	padding-top:8px;
	text-shadow:0 1px 0 rgba(0, 0, 0, 0.3);
}
a.custom-normal-btn{
	cursor:pointer;
	width:110px;
	height:18px;
	padding:8px;
	color:#ffffff;
	border-radius:4px;
	display:block;
	text-decoration:none ;
	font-size:13px;
	font-weight:bold;
	margin-right:4px;
	margin-bottom:15px;
	text-align:center;
	padding-top:6px;
	text-shadow:0 1px 0 rgba(0, 0, 0, 0.3);
}
a.custom-normal-btn span{
	font-size:20px;
	margin-top:-3px;
	display:block;
	margin-right:5px;
}
a.custom-large-btn span{
	font-size:25px;
	margin-top:-4px;
	display:block;
	margin-right:5px;
}

a.custom-small-btn{
	cursor:pointer;
	width:90px;
	height:22px;
	padding:2px;
	color:#ffffff;
	border-radius:6px;
	display:block;
	text-decoration:none ;
	font-size:10px;
	font-weight:bold;
	margin-right:4px;
	margin-bottom:15px;
	text-align:center;
	text-shadow:0 1px 0 rgba(0, 0, 0, 0.3);
}
a.custom-small-btn span{
	font-size:18px;
	display:block;
	margin-right:5px;
}
.dark-btn{
	background:#2c2c2c;
}
.default-btn{
	background:#e1472f;
}
.green-btn{
	background:#5ea65b;
}

/*Added*/

.go-btn {
	-webkit-transition: box-shadow 0.2s;
	-moz-transition: box-shadow 0.2s;
	transition: box-shadow 0.2s;
}

.go-btn:after {
	top: 0;
	left: 0;
	padding: 0;
	box-shadow: 0 0 0 3px #fff;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	transition: transform 0.2s, opacity 0.2s;
}
.go-btn:hover:after {
	-webkit-transform: scale(0.85);
	-moz-transform: scale(0.85);
	-ms-transform: scale(0.85);
	transform: scale(0.85);
	opacity: 0.5;
}

.go-btn:hover {
	box-shadow: 0 0 0 10px rgba(255,255,255,1);
	color: #fff;
}


/*===============================
15- Responsive
=================================*/



/* Large desktop */
@media (min-width: 1200px) {
.container {
	width: 1200px;
}
.row-fluid [class*="span"] {
	margin-left:0;
}
.row-fluid .span4 {
	width:33.33333%;
}


}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1200px) {

.service-style2{
	margin-left:0px;
}

#team .social li a {
	margin-left: 2px;
}
.navbar-fixed-top, .navbar-fixed-bottom {
	position: fixed !important;
}
.copyrights li {
	display: block;
	text-align: center;
}

#process p{
	margin-left:1px;
}

.portfolio-item .folio-body .folio-info{
	padding: 4em 30px;
}
.row-fluid [class*="span"] {
	margin-left:0;
}
.row-fluid .span4 {
	width:33.33333%;
}
#home {
	height:0vh;
	min-height:700px;
	background-size: auto;
}

}

@media (min-width: 768px) and (max-width: 980px) {
.row-fluid [class*="span"] {
	margin-left:0;
}
.row-fluid .span4 {
	width:33.33333%;
}
.portfolio-item .folio-body .folio-info {
	padding:2.2em 0;
}
#projects-list h5 {
	font-size: 2em;
}
.team-info h5 {
	font-size: 1.5em;
}
.team-info p {
	font-size: .9em;
}
#home {
	height:0vh;
	min-height:800px;
	background-size: auto;
}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	

#home .godown{	
	left:37%;
	height:70px;
	width:70px;
}
.copyrights li {
	display: block;
	text-align: center;
}

.mobile-menu {
	display:none;
}
.navbar #original {
	display: block;
}
.navbar-inverse .brand {
	margin-left: 36%;
	margin-bottom: 5px;
}

#services .media-body {
	text-align: center;
}
.wrapper-icon {
	float: none;
	clear: both;
	margin-left: 43%;
	margin-bottom: 10px;
	min-height: 65px;
	min-width: 100px;
	max-height: 70px;
	max-width: 100px;
	font-size: 40px;
	padding-top: 35px;
}


.navbar-fixed-top, .navbar-fixed-bottom {
	position: absolute;
}

body {
padding-right: 0px;
padding-left: 0px;
}
#home .home-text .title-line {
width:88%;
margin-top: 24%;
}

.portfolio-item .folio-body .folio-info {
	padding:28% 0;
}
#projects-list h5 {
	font-size: 2em;
}
#home {
	height:0vh;
	min-height:800px;
	background-size: auto;
}
}

/* Landscape phones and down */
@media (max-width: 480px) {
.navbar.navbar-inverse .navbar-inner.sticky{
}

.header_sticky.header_bg1, {
	background: rgba(255, 93, 42, 1);
	}
#home .godown{	
	left:30%;
	height:70px;
	width:70px;
	bottom:-10px;
}
#newsletter form {
	margin-left: 12%;
}
.wrapper-icon {
	margin-left: 38%;
	margin-left: auto;
	margin-right: auto;
}
#itemHolder {
	width: 190px;
	margin: 0 auto;
}
.navbar-inverse .brand {
	margin-left: 22%;
}

#home .home-text .title-line {
margin-top: 24%;
}
.slide2 {
	background-size:auto;
}
#home {
	height:0vh;
	min-height:600px;
	background-size: auto;
}
#work {
	background: #1a1a1a;
	min-height:500px;
}
#about {
	min-height: 100%;
}
#contact {
	min-height: 500px;
}
.twitter-contact{
	font-size: 1em;
}
.projects article {
	color:#fff;
	padding: 0 0 0 0;
}

}